@model AppointmentSystem.Models.ViewModels.AppointmentModels.EditVM

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<style>
    .treatment-section, .doctor-section, .dateTime-section, .baseInfomation-section {
        text-align: left;
        margin: 20px auto;
        width: 85%;
        max-width: 800px;
        background-color: transparent;
        padding: 20px;
        border-radius: 13px;
        border: 0px solid #5F5F5F;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .treatment-selected, .doctor-selected, .dateTime-selected {
        text-align: left;
        margin: 20px auto;
        width: 95%;
        max-width: 800px;
        background-color: transparent;
        border: 3px;
        border-color: #000000;
        padding-left: 8%;
        border-radius: 20px;
        display: none;
        padding-bottom: 8%;
    }

    .selectable {
        position: relative;
        display: inline-block;
        margin-top: 5px;
    }

        .selectable img {
            width: 100px; /* 設置圖片寬度 */
            height: 100px; /* 設置圖片高度 */
            cursor: pointer;
        }

        .selectable .treatment-info {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            display: flex;
            cursor: pointer;
        }


        .selectable .doctor-info {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

    /*  .selectable .select-circle.selected {
                                                                                                                background-color: green;
                                                                                                            } */

    .doctor-section.hidden, .dateTime-section.hidden, .baseInfomation-section.hidden {
        display: none;
    }

    .time-picker {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .time-slot {
        width: 40%;
        padding: 5px;
        margin: 5px 0;
        text-align: center;
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 15px;
    }

        .time-slot.selected {
            background-color: #a9a9a9;
        }

        .time-slot:hover {
            background-color: #bcbcbc;
        }

        .time-slot.disabled {
            background-color: #f0f0f0;
            color: #aaa;
            cursor: not-allowed;
        }

    .selected-time {
        margin-top: 20px;
        font-size: 18px;
    }


    .datepicker {
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .datepicker-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

        .datepicker-header div {
            cursor: pointer;
            padding: 1px;
        }

            .datepicker-header div:hover {
                background-color: #eee;
            }

        .datepicker-header span {
            font-size: 18px;
            font-weight: bold;
        }

    .datepicker-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
    }

        .datepicker-body div {
            text-align: center;
            padding: 0px;
            cursor: pointer;
            border-radius: 100px;
            transition: background-color 0.3s, color 0.3s;
        }

        .datepicker-body .header {
            font-weight: bold;
            color: #666666;
        }

        .datepicker-body div:hover {
            background-color: #eee;
        }

        .datepicker-body .disabled {
            color: #ccc;
            cursor: not-allowed;
        }

        .datepicker-body .available {
            color: black;
            cursor: pointer;
        }

            .datepicker-body .available:hover {
                background-color: #bcbcbc;
            }

        .datepicker-body .selected {
            background-color: #d9534f;
            color: white;
        }

    .selected-date, .selected-time {
        margin-top: 20px;
        font-size: 18px;
    }





    .form-container {
        background-color: #7f7f7f;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        margin: auto;
        margin-top: 50px;
        color: white;
    }

</style>

<div class="overlay-container" style=" position: relative;display: inline-block;">
    <img id="desktopImage" src="~/images/CustomerIndexImage1.jpg" alt="Desktop Image" class="appointment-image desktop-image">
    <img id="mobileImage" src="~/images/CustomerIndexImage2.jpg" alt="Mobile Image" class="appointment-image mobile-image" style="height:25rem; width:auto; object-fit: cover;">

    <div class="overlay"
         style="position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #DCDCDC;
            font-weight:normal;
            font-size:16px;
            line-height: 1.8;
            margin-bottom:10px;
            letter-spacing: 2px;">



        <div class="container content mb-3">
            <span id="AppointmentIntroductionText"></span>
        </div>

    </div>
</div>

<p></p>

<div class="mt-4 mb-4 ">
    <p style="font-size:20px ;font-weight:600;">線上預約</p>
    <!-- <h>線上預約</h>-->
</div>

<!-- 療程部分 -->
<div class="treatment-section">
    <div style="display:flex ; align-items:center;">
        <p style="font-size:18px ; color:#049FBF;font-weight:600;">選擇療程項目(多選)</p>
    </div>

    <div id="treatmentData" class="row" style="display: flex; justify-content: left;">
        @{
            int i = 0;
        }

        @foreach (var treatment in Model.TreatmentList)
        {
            i++;

            @if (Model.SelectedTreatment.Where(x => x.Contains(treatment.TreatmentId)).Count() > 0)
            {
                <div class="selectable treatmentDiv" id="treatmentDiv-@i" data-title="@treatment.TreatmentName" data-description="@treatment.Introduction" data-type="treatment" style="border:2px solid red;">
                    <img src="@treatment.Image" class="img-fluid" onclick="treatmentOnClick('@i');">
                    <img src="~/images/info.png" class="img-fluid treatment-info" data-toggle="modal" data-target="#treatmentModal" />
                    <input type="checkbox" id="treatment-@i" name="treatments" value="@treatment.TreatmentId" style="display:none;" checked />
                </div>
            }
            else
            {
                <div class="selectable treatmentDiv" id="treatmentDiv-@i" data-title="@treatment.TreatmentName" data-description="@treatment.Introduction" data-type="treatment">
                    <img src="@treatment.Image" class="img-fluid" onclick="treatmentOnClick('@i');">
                    <img src="~/images/info.png" class="img-fluid treatment-info" data-toggle="modal" data-target="#treatmentModal" />
                    <input type="checkbox" id="treatment-@i" name="treatments" value="@treatment.TreatmentId" style="display:none;" />
                </div>
            }
        }
    </div>
</div>

<!-- 已選擇的療程 -->
<div class="treatment-selected">
    <div style="display:flex; align-items:center;">
        <p style="font-size:20px; color:#049FBF ;font-weight: normal;">療程項目</p>
    </div>

    <div id="selectedTreatment" class="row" style="display: flex; justify-content: left;">
    </div>
</div>

<!-- 醫師部分 -->
<div class="doctor-section">
    <p style="font-size:18px ; color:#049FBF;font-weight:600;">選擇醫師(單選)</p>

    <div id="doctorData" class="row" style="display: flex; justify-content: left;">
        @{
            i = 0;
        }

        @foreach (var doctor in Model.DoctorList)
        {
            i++;
            @if (doctor.DoctorId == Model.DoctorId)
            {
                <div class=" selectable doctorDiv" id="doctorDiv-@i" data-title="@doctor.DoctorName" data-department="@doctor.DepartmentTitle" data-description="@doctor.Introduction" data-type="doctor" style="border:2px solid red;">
                    <img src="@doctor.Image" class="img-fluid" onclick="doctorOnClick('@i')">
                    <img src="~/images/info.png" class="img-fluid doctor-info" data-toggle="modal" data-target="#doctorModal" />
                    <input type="radio" id="doctor-@i" name="doctor" value="@doctor.DoctorId" class="doctor-info" style="display:none;" checked />
                </div>
            }
            else
            {
                <div class=" selectable" data-title="@doctor.DoctorName" data-department="@doctor.DepartmentTitle" data-description="@doctor.Introduction" data-type="doctor">
                    <img src="@doctor.Image" class="img-fluid" data-toggle="modal" data-target="#doctorModal">
                    <input type="radio" name="doctor" value="@doctor.DoctorId" class="doctor-radio" />
                </div>
            }
        }
    </div>
</div>

<!-- 已選擇的醫師 -->
<div class="doctor-selected">
    <p style="font-size:20px; color:#049FBF ;font-weight: normal;">醫師</p>
    <div id="selectedDoctor" class="row" style="display: flex; justify-content: left;">
    </div>
</div>

<!-- 日期時間部分 -->
<div class="dateTime-section hidden">
    <p style="font-size:20px; color:#049FBF ;font-weight: normal;">選擇預約時間</p>

    <div id="dateTimeData" class="row">
        <div id="dateList" class="col-md-8" style="padding:0px; font-weight: normal;">
            <div class="datepicker" id="datepicker">
                <div class="datepicker-header">
                    <div id="prev">&lt;</div>
                    <span id="monthYear"></span>
                    <div id="next">&gt;</div>
                </div>
                <div class="datepicker-body" id="calendar"></div>
            </div>

            <p id="dateDisplay" class="selected-date">預約日期：@Model.Date</p>
            <p id="timeDisplay" class="selected-time">預約時間：@Model.BookingBeginTime</p>
        </div>
        <div class="col-md-4" id="timeList">
            <div class="time-picker" id="timePicker">
                @foreach (var time in Model.Outpatients)
                {
                    if (time.Enabled == "Y")
                    {
                        if (time.BeginTime == Model.BookingBeginTime)
                        {
                            <div class="time-slot selected" data-time="@time.BeginTime" onclick="timeSlotClick(this);">@time.BeginTime</div>
                        }
                        else
                        {
                            <div class="time-slot" data-time="@time.BeginTime" onclick="timeSlotClick(this);">@time.BeginTime</div>
                        }

                    }
                    else
                    {
                        <div class="time-slot disabled" data-time="@time.BeginTime" onclick="timeSlotClick(this);">@time.BeginTime</div>
                    }

                }

            </div>

        </div>
    </div>
</div>

<!-- 已選擇的日期時間 -->
<div class="dateTime-selected">
    <h5>日期及時間</h5>
    <p id="selectedDateDisplay" class="selected-date">預約日期：@Model.Date</p>
    <p id="selectedTimeDisplay" class="selected-time">預約時間：@Model.BookingBeginTime</p>
</div>

<!-- 初診填寫基本資料部分 -->
<div class="baseInfomation-section hidden">
    <h5>初診基本資料填寫</h5>
    <div class="form-group">
        <label for="name">姓名</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="NationalIdNumber">身分證</label>
        <input type="text" class="form-control" id="NationalIdNumber">
    </div>
    <div class="form-group">
        <label for="cellphone">手機號碼</label>
        <input type="text" class="form-control" id="cellphone">
    </div>
    <div class="form-group">
        <label>性別</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="male" value="男">
            <label class="form-check-label" for="male">男</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="female" value="女">
            <label class="form-check-label" for="female">女</label>
        </div>
    </div>
    <div class="form-group">
        <label for="birthday">生日</label>
        <input type="date" class="form-control" id="birthday">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
    </div>
</div>

<input type="hidden" id="selectedDate" value="@Model.Date" />
<input type="hidden" id="selectedTime" value="@Model.BookingBeginTime" />
<input type="hidden" id="appointmentId" value="@Model.AppointmentId" />

<button class="btn btn-secondary" id="backToIndex" onclick="backToIndex();">取消</button>

<button class="btn btn-primary" id="selectDateTimebtn" onclick="selectDateTime();" style="border:none; background-color:transparent;">
    <img src="~/images/keyboard_double_arrow_down_19dp_666666_FILL0_wght400_GRAD0_opsz20.png" alt="Alternate Text" style="width:45px;height:35px; " />
</button>

<button class="btn btn-primary" id="backToSelectDoctorbtn" onclick="backToSelectDoctor();" style="display:none;border:none; background-color:transparent;">
    <img src="~/images/fast_rewind_16dp_666666_FILL0_wght400_GRAD0_opsz20.png" alt="Alternate Text" style="width:35px;height:35px; " />
</button>

<button class="btn btn-primary" id="backToSelectDataTimebtn" onclick="backToSelectDataTime();" style="display:none;border:none; background-color:transparent;">
    <img src="~/images/fast_rewind_16dp_666666_FILL0_wght400_GRAD0_opsz20.png" alt="Alternate Text" style="width:35px;height:35px; " />
</button>

@* <button class="btn btn-primary" id="selectDateTimebtn" onclick="selectDateTime();">下一步</button>
<button class="btn btn-primary" id="backToSelectDoctorbtn" onclick="backToSelectDoctor();" style="display:none;">上一步</button>
<button class="btn btn-primary" id="backToSelectDataTimebtn" onclick="backToSelectDataTime();" style="display:none;">上一步</button> *@
@* <button class="btn btn-primary" id="fillinBaseInformationbtn" onclick="fillinBaseInformation();" style="display:none;">下一步</button> *@

<button class="btn btn-primary" id="fillinCompletebtn" onclick="fillinComplete();" style="display:none;border:none; background-color:transparent;">
    <img src="~/images/check_circle_16dp_666666_FILL0_wght400_GRAD0_opsz20.png" alt="Alternate Text" style="width:35px;height:35px; " />
</button>


<!-- 療程項目簡介模態框 -->
<div class="modal fade " id="treatmentModal" tabindex="-1" aria-labelledby="treatmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="treatmentModalLabel">治療項目簡介</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* <h5 id="treatmentModalTitle"></h5> *@
                <p id="treatmentModalDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- 醫師簡介模態框 -->
<div class="modal fade" id="doctorModal" tabindex="-1" aria-labelledby="doctorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorModalLabel">醫師簡介</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* <h5 id="doctorModalTitle"></h5> *@
                <p id="doctorModalDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

@* <script src="~/js/jquery-3.5.1.min.js"></script> *@
<link rel="stylesheet" href="~/css/jquery-ui.css" asp-append-version="true">
<script src="~/js/jquery-ui.js" asp-append-version="true"></script>

<script>
    let today = new Date();
    let currentMonth = today.getMonth();
    let currentYear = today.getFullYear();
    let selectedDate = null;
    let outpatientDateTimes = null;
    let availableDates = [];
    let treatmentList = null;
    let doctorList = null;
    let sDate = "";

    const monthNames = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
    const daysOfWeek = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

    $(document).ready(function () {
        initData();

        function initData() {
            setAppointmentIntroductionText();
            setAppointmentImage();
            setTreatmentListAndDoctorList();

            sDate = $('#selectedDate').val();
            // treatmentOnClick();
            // setTreatmentList();
        }

        // 控制醫師單選
        $('.selectable[data-type="doctor"] .select-circle').click(function (e) {
            e.stopPropagation();
            $('.selectable[data-type="doctor"] .select-circle').removeClass('selected');
            $(this).addClass('selected');
        });

        // 顯示模態框內容
        $('#treatmentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.closest('.selectable').data('title');
            var description = button.closest('.selectable').data('description');
            var modal = $(this);
            modal.find('.modal-title').text(title);
            // modal.find('.modal-body #treatmentModalTitle').text(title);
            modal.find('.modal-body #treatmentModalDescription').text(description);
        });

        $('#doctorModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.closest('.selectable').data('title');
            var department = button.closest('.selectable').data('department');
            var description = button.closest('.selectable').data('description');
            var modal = $(this);
            modal.find('.modal-title').text(title + '  ' + department);
            // modal.find('.modal-body #doctorModalTitle').text(title);
            modal.find('.modal-body #doctorModalDepartment').text(description);
            modal.find('.modal-body #doctorModalDescription').text(description);
        });

        $('#prev').on('click', function () {
            currentMonth--;
            if (currentMonth < 0) {
                currentMonth = 11;
                currentYear--;
            }
            generateCalendar(currentYear, currentMonth);
        });

        $('#next').on('click', function () {
            currentMonth++;
            if (currentMonth > 11) {
                currentMonth = 0;
                currentYear++;
            }
            generateCalendar(currentYear, currentMonth);
        });
    });

    // 切換顯示醫師部分
    function toggleDoctorSection() {
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        if (selectedTreatments.length > 0) {
            $('.doctor-section').removeClass('hidden');
        } else {
            $('.doctor-section').addClass('hidden');
        }
    }

    function setAppointmentIntroductionText() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentIntroductionText',
            datatype: "json",
            success: function (data) {
                $('#AppointmentIntroductionText').html(data);
            }
        });
    }

    function setAppointmentImage() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentDesktopImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    // console.log(data);
                    $('#desktopImage').attr('src', data);
                }
            }
        });

        $.ajax({
            type: 'GET',
            url: '/Appointment/setAppointmentMobileImage',
            datatype: "json",
            success: function (data) {
                if (data != null) {
                    $('#mobileImage').attr('src', data);
                }
            }
        });
    }

    function setTreatmentListAndDoctorList() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setTreatmentList',
            datatype: "json",
            success: function (data) {
                treatmentList = data;
            }
        });

        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        $.ajax({
            type: 'POST',
            url: '/Appointment/setDoctorList',
            datatype: "json",
            data: { treatments: selectedTreatments },
            success: function (data) {
                doctorList = data;
            }
        });
    }

    function setDoctorList() {
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        $.ajax({
            type: 'POST',
            url: '/Appointment/setDoctorList',
            datatype: "json",
            data: { treatments: selectedTreatments },
            success: function (data) {
                doctorList = data;
                let inner = "";
                let i = 0;

                if (data.length > 0) {
                    data.forEach(function (x) {
                        i++;

                        inner += `<div class="selectable doctorDiv" id="doctorDiv-` + i + `" data-title="` + x.doctorName + `" data-department="` + x.departmentTitle + `" data-description="` + x.introduction + `" data-type="doctor">`;
                        inner += `<img src="` + x.image + `" class="img-fluid" onclick="doctorOnClick('` + i + `')">`;
                        inner += `<img src="/images/info.png" class="img-fluid doctor-info" data-toggle="modal" data-target="#doctorModal" />`;
                        inner += `<input type="radio" id="doctor-` + i + `" name="doctor" value="` + x.doctorId + `" class="doctor-info" style="display:none;" />`;
                        // inner += `<input type="hidden" id="treatmentId-` + i + `" value="` + x.treatmentId + `"></input>`;
                        inner += `</div>`;
                    });
                } else {
                    inner += "無符合條件的醫師可供選擇。";
                }

                $('#doctorData').html(inner);
            }
        });
    }

    function treatmentOnClick(i) {
        $('#treatment-' + i).click();

        if ($('#treatment-' + i).prop("checked")) {
            $('#treatmentDiv-' + i).css("border", "2px solid red");
        } else {
            $('#treatmentDiv-' + i).css("border", "0px");
        }

        setDoctorList();
        toggleDoctorSection();
    }

    function doctorOnClick(i) {
        $('#doctor-' + i).click();

        $('.doctorDiv').css("border", "0px");
        $('#doctorDiv-' + i).css("border", "2px solid red");
    }

    function selectDateTime() {
        let selected = $("input[name='doctor']:checked");
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        if (selected.length > 0 && selectedTreatments.length > 0) {
            //將療程及醫師隱藏，顯示日期時間
            $('.treatment-section').hide();
            $('.doctor-section').hide();
            $('.dateTime-section').show();
            $('#selectDateTimebtn').hide();
            $('#backToSelectDoctorbtn').show();
            $('#fillinCompletebtn').show();

            showSelectedTreatmentAndDoctor();

            $.ajax({
                type: 'POST',
                url: '/Appointment/getDateAndTime',
                datatype: "json",
                data: { treatments: selectedTreatments, "doctor": selected.val() },
                success: function (data) {
                    outpatientDateTimes = data;

                    data.forEach(function (x) {
                        availableDates.push(x.date);
                    });

                    generateCalendar(currentYear, currentMonth);
                }
            });

        } else {
            alert("請先選擇療程及醫師!!");
        }

    }

    function generateCalendar(year, month) {
        const monthYear = $('#monthYear');
        const calendar = $('#calendar');
        const dateDisplay = $('#dateDisplay');

        calendar.empty();

        let firstDay = new Date(year, month).getDay();
        let daysInMonth = 32 - new Date(year, month, 32).getDate();

        monthYear.text(`${monthNames[month]} ${year}`);

        for (let day of daysOfWeek) {
            let dayElement = $('<div>').text(day).addClass('header');
            calendar.append(dayElement);
        }

        for (let i = 0; i < firstDay; i++) {
            let emptyCell = $('<div>');
            calendar.append(emptyCell);
        }

        for (let date = 1; date <= daysInMonth; date++) {
            let dateElement = $('<div>').text(date);

            let dateToCheck = new Date(year, month, date);
            let dateString = `${year}-${String(month + 1).padStart(2, '0')}-${String(date).padStart(2, '0')}`;

            dateElement.data('date', dateString);



            if ($("#selectedDate").val() == dateString) {
                dateElement.addClass('selected');
                selectedDate = dateElement;
            }


            if (availableDates.includes(dateString)) {
                dateElement.addClass('available').on('click', function () {
                    if (selectedDate) {
                        selectedDate.removeClass('selected');
                    }
                    dateElement.addClass('selected');
                    selectedDate = dateElement;
                    dateDisplay.text("預約日期：" + selectedDate.data('date'));
                    $("#timeDisplay").text("預約時間：無");
                    $("#selectedDate").val(selectedDate.data('date'));

                    let timePicker = $('#timePicker');
                    timePicker.empty();

                    outpatientDateTimes.filter(e => e.date == selectedDate.data('date'))[0].outpatients.forEach(function (slot) {
                        let timeSlot = $('<div class="time-slot" data-time="' + slot.beginTime + '">' + slot.beginTime + '</div>');
                        if (slot.enabled == "N") {
                            timeSlot.addClass('disabled');
                        }
                        timePicker.append(timeSlot);

                        $('.time-slot').on('click', function () {
                            if (!$(this).hasClass('disabled')) {
                                $('.time-slot').removeClass('selected');
                                $(this).addClass('selected');
                            }

                            let selectedSlot = $('.time-slot.selected');
                            if (selectedSlot.length > 0) {
                                let selectedTime = selectedSlot.data('time');
                                $('#timeDisplay').text("預約時間：" + selectedTime);
                            } else {
                                $('#timeDisplay').text("預約時間：無");
                            }
                        });

                    });
                });



                // if (selectedDate != null && selectedDate == selectedDate.data('date')) {
                //     dateElement.addClass('selected');
                // }
            } else {
                dateElement.addClass('disabled');
            }

            calendar.append(dateElement);
        }
    }

    function timeSlotClick(element) {
        if (!$(element).hasClass('disabled')) {
            $('.time-slot').removeClass('selected');
            $(element).addClass('selected');
        }

        let selectedSlot = $('.time-slot.selected');
        if (selectedSlot.length > 0) {
            let selectedTime = selectedSlot.data('time');
            $('#timeDisplay').text("預約時間：" + selectedTime);
        } else {
            $('#timeDisplay').text("預約時間：無");
        }
    }

    function backToSelectDoctor() {
        const calendar = $('#calendar');

        $('#selectDateTimebtn').show();
        $('#backToSelectDoctorbtn').hide();
        $('#fillinCompletebtn').hide();

        $("#datepicker").datepicker("destroy");
        $("#timePicker").empty();
        $("#dateDisplay").text("預約日期：無");
        $("#timeDisplay").text("預約時間：無");
        $('#selectedDateDisplay').text("預約時間：無");
        $('#selectedTimeDisplay').text("預約時間：無");

        $('.treatment-section').show();
        $('.doctor-section').show();
        $('.dateTime-section').hide();
        $('.treatment-selected').hide();
        $('.doctor-selected').hide();
        $('.dateTime-selected').hide();

        selectedDate = null;
        calendar.empty();
        availableDates = [];
        outpatientDateTimes = null;
        $('#selectedTreatment').html("");
        $('#selectedDoctor').html("");
    }

    function backToSelectDataTime() {
        $('.dateTime-selected').hide();
        $('.baseInfomation-section').hide();
        $('#backToSelectDataTimebtn').hide();
        $('#fillinCompletebtn').hide();

        $('.dateTime-section').show();
        $('#backToSelectDoctorbtn').show();

        $('#fillinCompletebtn').show();
    }

    function showSelectedTreatmentAndDoctor() {
        let selectedDoctor = $("input[name='doctor']:checked").val();
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        //設定已選擇的療程
        let inner = "";

        selectedTreatments.forEach(function (x) {
            let item = treatmentList.filter(e => e.treatmentId == x)[0];

            inner += `<div class="selectable col-4" data-title="` + item.treatmentName + `" data-description="` + item.introduction + `" data-type="selectedTreatment">`;
            inner += `<img src="` + item.image + `" class="img-fluid" data-toggle="modal" data-target="#treatmentModal">`;
            inner += `</div>`;
        });
        $('#selectedTreatment').html(inner);

        //設定已選擇的醫師
        inner = "";

        let item = doctorList.filter(e => e.doctorId == selectedDoctor)[0];

        inner += `<div class="selectable col-4" data-title="` + item.doctorName + `" data-department="` + item.departmentTitle + `" data-description="` + item.introduction + `" data-type="selectedDoctor">`;
        inner += `<img src="` + item.image + `" class="img-fluid" data-toggle="modal" data-target="#doctorModal">`;
        inner += `</div>`;

        $('#selectedDoctor').html(inner);

        $('.treatment-selected').show();
        $('.doctor-selected').show();
    }

    function fillinComplete() {
        let selectedTime = null;
        let selectedDoctor = $("input[name='doctor']:checked").val();
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        let selectedSlot = $('.time-slot.selected');
        if (selectedSlot.length > 0) {
            selectedTime = selectedSlot.data('time');
        }

        if (selectedDate == null || selectedTime == null) {
            alert("請先選擇日期及時間!")
            return false;
        } else {
            $.ajax({
                type: 'POST',
                url: '/Appointment/UpdateAppointment',
                datatype: "json",
                data: { AppointmentId: $('#appointmentId').val(), treatments: selectedTreatments, "doctor": selectedDoctor, "date": selectedDate.data('date'), "beginTime": selectedTime },
                success: function (data) {
                    console.log("Update appointment infomation success.")

                    window.location.href = "@Url.Action("Index", "Appointment")";
                }
            });

            // console.log("選擇的療程:" + selectedTreatments);
            // console.log("選擇的醫師:" + selectedDoctor);
            // console.log("選擇的日期:" + selectedDate.data('date'));
            // console.log("選擇的療程:" + selectedTime);
            // }

        }
    }

    function backToIndex() {
        window.location.href = "@Url.Action("Index", "Appointment")";
    }

    // function fillinBaseInformation() {
    //     let selectedTime = null;
    //     let selectedDoctor = $("input[name='doctor']:checked").val();
    //     let selectedTreatments = [];

    //     document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
    //         selectedTreatments.push(checkbox.value);
    //     });

    //     let selectedSlot = $('.time-slot.selected');
    //     if (selectedSlot.length > 0) {
    //         selectedTime = selectedSlot.data('time');
    //     }

    //     if (selectedDate == null || selectedTime == null) {
    //         alert("請先選擇日期及時間!");
    //         return false;
    //     } else {
    //         showSelectedTreatmentAndDoctor();

    //         $('.dateTime-section').hide();
    //         $('#backToSelectDoctorbtn').hide();
    //         $('#fillinBaseInformationbtn').hide();
    //         $('.dateTime-selected').show();
    //         $('.baseInfomation-section').show();
    //         $('#backToSelectDataTimebtn').show();
    //         $('#fillinCompletebtn').show();


    //         $('#selectedDateDisplay').text("選擇的日期：" + selectedDate.data('date'));
    //         $('#selectedTimeDisplay').text("選擇的時間：" + selectedTime);



    //         // console.log("選擇的療程:" + selectedTreatments);
    //         // console.log("選擇的醫師:" + selectedDoctor);
    //         // console.log("選擇的日期:" + selectedDate.data('date'));
    //         // console.log("選擇的療程:" + selectedTime);
    //     }
    // }

</script>