@* @model AppointmentSystem.Models.ViewModels.AppointmentModels.FillinVM *@

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "Home Page";
}


@* <style>
    .treatment-section, .doctor-section, .dateTime-section, .baseInfomation-section {
        text-align: left;
        margin: 20px auto;
        width: 80%;
        max-width: 800px;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
    }

    .treatment-selected, .doctor-selected, .dateTime-selected {
        text-align: left;
        margin: 20px auto;
        width: 80%;
        max-width: 800px;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
        display: none;
    }

    .selectable {
        position: relative;
        display: inline-block;
        margin: 10px;
    }

        .selectable img {
            width: 100px; /* 設置圖片寬度 */
            height: 100px; /* 設置圖片高度 */
            cursor: pointer;
        }

        .selectable .treatment-info {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            display: flex;
            cursor: pointer;
        }


        .selectable .doctor-info {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            /*      background-color: white;
                        border-radius: 50%;
                        border: 2px solid #007bff; */
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

    /*  .selectable .select-circle.selected {
                                                                        background-color: green;
                                                                    } */

    .doctor-section.hidden, .dateTime-section.hidden, .baseInfomation-section.hidden {
        display: none;
    }

    .time-picker {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .time-slot {
        width: 100%;
        padding: 15px;
        margin: 5px 0;
        background-color: #d3d3d3;
        text-align: center;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .time-slot.selected {
            background-color: #a9a9a9;
        }

        .time-slot:hover {
            background-color: #bcbcbc;
        }

        .time-slot.disabled {
            background-color: #f0f0f0;
            color: #aaa;
            cursor: not-allowed;
        }

    .selected-time {
        margin-top: 20px;
        font-size: 18px;
    }


    .datepicker {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .datepicker-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

        .datepicker-header div {
            cursor: pointer;
            padding: 5px;
        }

            .datepicker-header div:hover {
                background-color: #eee;
            }

        .datepicker-header span {
            font-size: 18px;
            font-weight: bold;
        }

    .datepicker-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
    }

        .datepicker-body div {
            text-align: center;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
            transition: background-color 0.3s, color 0.3s;
        }

        .datepicker-body .header {
            font-weight: bold;
            color: #333;
        }

        .datepicker-body div:hover {
            background-color: #eee;
        }

        .datepicker-body .disabled {
            color: #ccc;
            cursor: not-allowed;
        }

        .datepicker-body .availabel {
            color: black;
            cursor: pointer;
        }

            .datepicker-body .availabel:hover {
                background-color: #bcbcbc;
            }

        .datepicker-body .selected {
            background-color: #d9534f;
            color: white;
        }

    .selected-date, .selected-time {
        margin-top: 20px;
        font-size: 18px;
    }





    .form-container {
        background-color: #7f7f7f;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        margin: auto;
        margin-top: 50px;
        color: white;
    }

</style> *@

<style>
    .treatment-section, .doctor-section, .baseInfomation-section {
        text-align: left;
        margin: auto;
        width: 98%;
        background: linear-gradient(to top,#ffffff, #ffffff);
        padding: 20px;
        border-radius: 13px;
        border: 0px solid #5F5F5F;
        overflow-y: scroll;
        height: 500px;
        /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);*/
    }

        .treatment-section::-webkit-scrollbar, .doctor-section::-webkit-scrollbar, .baseInfomation-section::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

    .dateTime-section {
        text-align: left;
        margin: auto;
        width: 98%;
        background: linear-gradient(to top,#ffffff, #ffffff);
        padding: 20px;
        border-radius: 13px;
        border: 0px solid #5F5F5F;
        /* height: 500px;*/
    }

    .timeList {
        overflow-y: scroll;
        height: 200px;
        padding-top: 20px;
    }

        .timeList::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

    .treatment-selected, .doctor-selected, .dateTime-selected {
        text-align: left;
        margin: 20px auto;
        width: 98%;
        background-color: transparent;
        padding: 20px;
        border-radius: 13px;
        border: 0px solid #5F5F5F;
        display: none;
    }

    .buttonDIV {
        text-align: left;
        margin: 20px auto;
        width: 85%;
        background-color: transparent;
        border-radius: 13px;
        border: 0px solid #5F5F5F;
        display: none;
        padding: 20px;
    }


    .selectable {
        position: relative;
        display: inline-block;
        margin-top: 5px;
        background: #0E4F43;
        color: #D7F4EE;
        border-radius: 15px;
        overflow: hidden;
        margin: 10px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    }

        .selectable img {
            width: 100px; /* 設置圖片寬度 */
            height: 100px; /* 設置圖片高度 */
            cursor: pointer;
        }

        .selectable .treatment-info {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            display: flex;
            cursor: pointer;
        }


        .selectable .doctor-info {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

    /*  .selectable .select-circle.selected {
                                                                                                                                                                                background-color: green;
                                                                                                                                                                            } */

    .doctor-section.hidden, .dateTime-section.hidden, .baseInfomation-section.hidden {
        display: none;
    }

    .time-picker {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .time-slot {
        width: 40%;
        padding: 5px;
        margin: 5px 0;
        text-align: center;
        border-bottom: 1px solid #dddddd;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 15px;
    }

        .time-slot.selected {
            background-color: #0E4F43;
            color: #D7F4EE;
        }

        .time-slot:hover {
            background-color: #0E4F43;
            color: #D7F4EE;
        }

        .time-slot.disabled {
            background-color: #f0f0f0;
            color: #aaa;
            cursor: not-allowed;
        }

    .selected-time {
        margin-top: 20px;
        font-size: 18px;
    }


    .datepicker {
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .datepicker-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

        .datepicker-header div {
            cursor: pointer;
            padding: 1px;
        }

            .datepicker-header div:hover {
                background-color: #eee;
            }

        .datepicker-header span {
            font-size: 18px;
            font-weight: bold;
        }

    .datepicker-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
    }

        .datepicker-body div {
            text-align: center;
            padding: 0px;
            cursor: pointer;
            border-radius: 100px;
            transition: background-color 0.3s, color 0.3s;
        }

        .datepicker-body .header {
            font-weight: bold;
            color: #666666;
        }

        .datepicker-body div:hover {
            background-color: #eee;
        }

        .datepicker-body .disabled {
            color: #ccc;
            cursor: not-allowed;
        }

        .datepicker-body .availabel {
            color: black;
            cursor: pointer;
        }

            .datepicker-body .availabel:hover {
                background-color: #bcbcbc;
            }

        .datepicker-body .selected {
            background-color: #d9534f;
            color: white;
        }

    .selected-date, .selected-time {
        margin-top: 20px;
        font-size: 18px;
    }

    .form-container {
        background-color: #7f7f7f;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        margin: auto;
        margin-top: 50px;
        color: white;
    }


    #treatmentImage img {
        width: 50%;
        height: 50%;
        border-radius: 20px;
        margin: 5%
    }

    .appointment-wrapper {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 20%;
        left: 0;
        height: auto;
    }

    .appointment-table {
        width: 100%;
        margin: 0px !important;
        padding: 20px 5px;
        border-radius: 40px;
        z-index: 2;
        background: white;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .treatmentTitle, .doctorTitle, .dateTitle {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #0E4F43;
        font-weight: 800;
        margin-top: 15px;
        margin-left: 30px;
    }

</style>

<div class="overlay-container" style=" position: relative;">
    @*     <img id="desktopImage" src="~/images/CustomerIndexImage1.jpg" alt="Desktop Image" class="appointment-image desktop-image">
    <img id="mobileImage" src="~/images/CustomerIndexImage2.jpg" alt="Mobile Image" class="appointment-image mobile-image" style="height:25rem; width:auto; object-fit: cover;"> *@
    <img id="desktopImage" src="~/images/banner (2).png" alt="Desktop Image" class="appointment-image desktop-image" style="width: 100%;  height: auto;  max-height: 18rem;object-fit: cover;">
    <img id="mobileImage" src="~/images/banner (2).png" alt="Mobile Image" class="appointment-image mobile-image" style=" width:auto; object-fit: cover;">



</div>

@* <div class="container content">
    <span id="AppointmentIntroductionText"></span>
</div> *@
<div class="appointment-wrapper">
    <div class="appointment-table">


        <!-- 療程部分 -->
        <div class="treatmentTitle">
            <span>療程項目</span>
        </div>
        <div class="treatment-section" style="height:295px ; background-color:white;">

            <div id="treatmentData" class="row" style="display: flex; justify-content:  left;">
            </div>
        </div>

        <!-- 已選擇的療程 -->
        <div class="treatment-selected">
            <div class="treatmentTitle">
                <span>療程項目</span>
            </div>
            <div style="background-color:white;">
                <div id="selectedTreatment" class="row" style="display: flex; justify-content: left;">
                    =
                </div>
            </div>
        </div>

        <!-- 醫師部分 -->
        <div class="doctor-section" style="height: 300px;">
            <div class="doctorTitle">
                <span>選擇醫師(單選)</span>
            </div>
            <div style="height:200px;background-color:white;">
                <div id="doctorData" class="row" style="display: flex; justify-content: left;">
                </div>
            </div>
        </div>

        <!-- 已選擇的醫師 -->
        <div class="doctor-selected">
            <div class="doctorTitle">
                <span>醫師</span>
            </div>
            <div id="selectedDoctor" class="row" style="display: flex; justify-content: left;">
            </div>
        </div>

        <!-- 日期時間部分 -->
        <div class="dateTime-section hidden">
            <div class="dateTitle">
                <span>選擇預約時間</span>
            </div>
            <div style="background-color:white;width: 85%;">
                <div id="dateTimeData" class="row">
                    <div id="dateList" class="col-md-8" style="padding:0px; font-weight: normal;">
                        <div class="datepicker" id="datepicker">
                            <div class="datepicker-header">
                                <div id="prev">&lt;</div>
                                <span id="monthYear"></span>
                                <div id="next">&gt;</div>
                            </div>
                            <div class="datepicker-body" id="calendar"></div>
                        </div>

                        <p id="dateDisplay" class="selected-date ml-3">預約日期：無</p>
                        <p id="timeDisplay" class="selected-time ml-3">預約時間：無</p>
                    </div>
                    <div class="col-md-4 timeList" id="timeList">
                        <div class="time-picker" id="timePicker">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 已選擇的日期時間 -->
        <div class="dateTime-selected" style="background-color:white;">
            <h5>預約時間</h5>
            <p id="selectedDateDisplay" class="selected-date ml-3">預約日期：無</p>
            <p id="selectedTimeDisplay" class="selected-time ml-3">預約時間：無</p>
        </div>

        <!-- 初診填寫基本資料部分 -->
       <div class="baseInfomation-section hidden" style="background-color:white;">
            <h5>初診基本資料填寫</h5>
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="NationalIdNumber">身分證</label>
                <input type="text" class="form-control" id="NationalIdNumber" onchange="checkCellphoneAndNationalIdNumber();">
            </div>
            <div class="form-group">
                <label for="cellphone">手機號碼</label>
                <input type="text" class="form-control" id="cellphone" onchange="checkCellphoneAndNationalIdNumber();">
            </div>
            <div class="form-group">
                <label>性別</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="男">
                    <label class="form-check-label" for="male">男</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="女">
                    <label class="form-check-label" for="female">女</label>
                </div>
            </div>
            <div class="form-group">
                <label for="birthday">生日</label>
                <input type="date" class="form-control" id="birthday">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label id="alert" style="color:red;"></label>
            </div>
        </div>

        <div class="buttonDIV" style="display:flex ; align-content:center ; justify-content:end; width:85%;margin:auto; padding-right:15px; border-radius:30px;">
            <button class="btn btn-secondary" id="backToIndex" onclick="backToIndex();" style="border:none;border:none;border-radius:100px; background-color:#4A707A;padding:2px;margin-right:10px  ; width:40px;height:40px">
                <img src="~/images/close_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="Alternate Text" style="width:30px;height:30px; " />
            </button>
            <button class="btn btn-primary" id="selectDateTimebtn" onclick="selectDateTime();" style="border:none;border-radius:100px; background-color:#4A707A;padding:2px;">
                <img src="~/images/arrow_right_alt_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="Alternate Text" style="width:35px;height:35px; " />
            </button>

            <button class="btn btn-primary" id="backToSelectDoctorbtn" onclick="backToSelectDoctor();" style="display:none;border:none; background-color:transparent;border: 2px solid #4A707A; border-radius:100px;padding:2px;margin-right:10px  ; width:40px;height:40px">
                <img src="~/images/arrow_left_alt_24dp_4A707A_FILL0_wght400_GRAD0_opsz24.png" alt="Alternate Text" style="width:35px;height:35px;" />
            </button>

            <button class="btn btn-primary" id="backToSelectDataTimebtn" onclick="backToSelectDataTime();" style="display:none;border:none; background-color:transparent;border: 2px solid #4A707A;border-radius:100px;padding:2px;margin-right:10px  ; width:40px;height:40px ">
                <img src="~/images/arrow_left_alt_24dp_4A707A_FILL0_wght400_GRAD0_opsz24.png" alt="Alternate Text" style="width:35px;height:35px;" />
            </button>

            <button class="btn btn-primary" id="fillinBaseInformationbtn" onclick="fillinBaseInformation();" style="display:none;border:none;border-radius:100px; background-color:#4A707A;padding:2px; width:40px;height:40px">
                <img src="~/images/arrow_right_alt_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="Alternate Text" style="width:35px;height:35px; " />
            </button>

            <button class="btn btn-primary" id="fillinCompletebtn" onclick="fillinComplete();" style="display:none;border:none;border-radius:100px; background-color:#4A707A;padding:2px; width:40px;height:40px">
                <img src="~/images/arrow_right_alt_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="Alternate Text" style="width:35px;height:35px; " />
            </button>
        </div>
    </div>
</div>
<!-- 療程項目簡介模態框 -->
<div class="modal fade " id="treatmentModal" tabindex="-1" aria-labelledby="treatmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="treatmentModalLabel">治療項目簡介</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="treatmentImage"></div>
                <p id="treatmentModalDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- 醫師簡介模態框 -->
<div class="modal fade" id="doctorModal" tabindex="-1" aria-labelledby="doctorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorModalLabel">醫師簡介</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="doctorImage"></div>
                <p id="doctorModalDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

@* <script src="~/js/jquery-3.5.1.min.js"></script> *@
<link rel="stylesheet" href="~/css/jquery-ui.css" asp-append-version="true">
<script src="~/js/jquery-ui.js" asp-append-version="true"></script>
<script>
    let today = new Date();
    let currentMonth = today.getMonth();
    let currentYear = today.getFullYear();
    let selectedDate = null;
    let outpatientDateTimes = null;
    let availabelDates = [];
    let treatmentList = null;
    let doctorList = null;

    const monthNames = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
    const daysOfWeek = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

    $(document).ready(function () {
        initData();

        function initData() {
            // console.log("@ViewBag.AppointmentCount");

            // setAppointmentIntroductionText();
            // setAppointmentImage();
            setTreatmentList();
        }

        // 控制療程多選
        // $('.selectable[data-type="treatment"] .select-circle').click(function (e) {
        //     e.stopPropagation();
        //     $(this).toggleClass('selected');
        //     toggleDoctorSection();
        // });

        // 控制醫師單選
        $('.selectable[data-type="doctor"] .select-circle').click(function (e) {
            e.stopPropagation();
            $('.selectable[data-type="doctor"] .select-circle').removeClass('selected');
            $(this).addClass('selected');
        });

        // 顯示模態框內容
        $('#treatmentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.closest('.selectable').data('title');
            var description = button.closest('.selectable').data('description');
            var image = button.closest('.selectable').data('image');
            var modal = $(this);

            modal.find('.modal-title').text(title);
            // modal.find('.modal-body #treatmentModalTitle').text(title);
            modal.find('.modal-body #treatmentModalDescription').text(description);
            modal.find('.modal-body #treatmentImage').html("<img src='" + image + "' alt='treatment'  class='img-fluid'>");
        });

        $('#doctorModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.closest('.selectable').data('title');
            var department = button.closest('.selectable').data('department');
            var description = button.closest('.selectable').data('description');
            var image = button.closest('.selectable').data('image');
            var modal = $(this);

            modal.find('.modal-title').text(title + '  ' + department);
            // modal.find('.modal-body #doctorModalTitle').text(title);
            modal.find('.modal-body #doctorModalDepartment').text(description);
            modal.find('.modal-body #doctorModalDescription').text(description);
            modal.find('.modal-body #doctorImage').html("<img src='" + image + "' alt='doctor' class='img-fluid'>");
        });

        $('#prev').on('click', function () {
            currentMonth--;
            if (currentMonth < 0) {
                currentMonth = 11;
                currentYear--;
            }
            generateCalendar(currentYear, currentMonth);
        });

        $('#next').on('click', function () {
            currentMonth++;
            if (currentMonth > 11) {
                currentMonth = 0;
                currentYear++;
            }
            generateCalendar(currentYear, currentMonth);
        });
    });

    // function setAppointmentIntroductionText() {
    //     $.ajax({
    //         type: 'GET',
    //         url: '/Appointment/setAppointmentIntroductionText',
    //         datatype: "json",
    //         success: function (data) {
    //             $('#AppointmentIntroductionText').html(data);
    //         }
    //     });
    // }

    // function setAppointmentImage() {
    //     $.ajax({
    //         type: 'GET',
    //         url: '/Appointment/setAppointmentDesktopImage',
    //         datatype: "json",
    //         success: function (data) {
    //             if (data != null) {
    //                 // console.log(data);
    //                 $('#desktopImage').attr('src', data);
    //             }
    //         }
    //     });

    //     $.ajax({
    //         type: 'GET',
    //         url: '/Appointment/setAppointmentMobileImage',
    //         datatype: "json",
    //         success: function (data) {
    //             if (data != null) {
    //                 $('#mobileImage').attr('src', data);
    //             }
    //         }
    //     });
    // }

    // 切換顯示醫師部分
    function toggleDoctorSection() {
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        if (selectedTreatments.length > 0) {
            $('.doctor-section').removeClass('hidden');
        } else {
            $('.doctor-section').addClass('hidden');
        }
    }

    function setTreatmentList() {
        $.ajax({
            type: 'GET',
            url: '/Appointment/setTreatmentList',
            datatype: "json",
            success: function (data) {
                treatmentList = data;
                let inner = "";
                let i = 0;

                data.forEach(function (x) {
                    i++;

                    inner += `<div class="selectable treatmentDiv"   id="treatmentDiv-` + i + `" data-title="` + x.treatmentName + `" data-description="` + x.introduction + `" data-image="` + x.image + `" data-type="treatment">`;
                    inner += `<img  src="` + x.image + `" style="border-radius: 15px; padding:3px;" class="img-fluid" onclick="treatmentOnClick('` + i + `');">`;
                    // inner += `<img  src="/images/info.png" style="margin:5px; width:30px ; height:30px;"  class="img-fluid treatment-info" data-toggle="modal" data-target="#treatmentModal" />`; <img src="/images/info_24dp_049FBF_FILL0_wght400_GRAD0_opsz24.png" style="width:20px ; height:20px; margin-left:5px;" class="img-fluid"  />
                    inner += `<div style="line-height: 2;display: flex; align-items: center; justify-content: center; cursor:pointer;" data-toggle="modal" data-target="#treatmentModal"><span style="font-size:14px;">` + x.treatmentName + `</span></div>`;
                    inner += `<input type="checkbox" id="treatment-` + i + `" name="treatments" value="` + x.treatmentId + `" style="display:none;" />`;
                    inner += `</div>`;
                });

                $('#treatmentData').html(inner);
            }
        });
    }

    function setDoctorList() {
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        $.ajax({
            type: 'POST',
            url: '/Appointment/setDoctorList',
            datatype: "json",
            data: { treatments: selectedTreatments },
            success: function (data) {
                doctorList = data;
                let inner = "";
                let i = 0;

                if (data.length > 0) {
                    data.forEach(function (x) {
                        i++;

                        inner += `<div class="selectable doctorDiv " id="doctorDiv-` + i + `" data-title="` + x.doctorName + `" data-department="` + x.departmentTitle + `" data-image="` + x.image + `" data-description="` + x.introduction + `" data-type="doctor">`;
                        inner += `<img src="` + x.image + `"style="border-radius: 15px; padding:3px;" class="img-fluid" onclick="doctorOnClick('` + i + `')">`;
                        // inner += `<img src="/images/info.png" class="img-fluid doctor-info" data-toggle="modal" data-target="#doctorModal" />`;<img src="/images/info.png" style="width:20px ; height:20px;" class="img-fluid"  />
                        inner += `<div style=" line-height: 2;display: flex; align-items: center; justify-content: center; cursor:pointer;" data-toggle="modal" data-target="#doctorModal"><span style="font-size:14px;">` + x.doctorName + `</span></div>`;
                        inner += `<input type="radio" id="doctor-` + i + `" name="doctor" value="` + x.doctorId + `" class="doctor-info" style="display:none;" />`;
                        inner += `</div>`;
                    });
                } else {
                    inner += "無符合條件的醫師可供選擇。";
                }

                $('#doctorData').html(inner);
            }
        });
    }

    function treatmentOnClick(i) {
        $('#treatment-' + i).click();

        if ($('#treatment-' + i).prop("checked")) {
            $('#treatmentDiv-' + i).css("outline", "4px solid #049FBF");
        } else {
            $('#treatmentDiv-' + i).css("outline", "0px");
        }

        setDoctorList();
        toggleDoctorSection();
    }

    function doctorOnClick(i) {
        $('#doctor-' + i).click();

        $('.doctorDiv').css("outline", "0px");
        $('#doctorDiv-' + i).css("outline", "4px solid #049FBF");
    }

    function selectDateTime() {
        let selected = $("input[name='doctor']:checked");
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        if (selected.length > 0 && selectedTreatments.length > 0) {
            //將療程及醫師隱藏，顯示日期時間
            $('.treatment-section').hide();
            $('.doctor-section').hide();
            $('.dateTime-section').show();

            $('#selectDateTimebtn').hide();
            $('#backToSelectDoctorbtn').show();

            if (@ViewBag.AppointmentCount> 0)
                $('#fillinCompletebtn').show();
            else
                $('#fillinBaseInformationbtn').show();


            showSelectedTreatmentAndDoctor();

            $.ajax({
                type: 'POST',
                url: '/Appointment/getDateAndTime',
                datatype: "json",
                data: { treatments: selectedTreatments, "doctor": selected.val() },
                success: function (data) {
                    outpatientDateTimes = data;

                    data.forEach(function (x) {
                        availabelDates.push(x.date);
                    });


                    generateCalendar(currentYear, currentMonth);

                    // $("#datepicker").datepicker({
                    //     beforeShowDay: function (date) {
                    //         var dmy = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2);

                    //         if ($.inArray(dmy, availabelDates) != -1) {
                    //             return [true, "", "Availabel"];
                    //         } else {
                    //             return [false, "", "unAvailabel"];
                    //         }
                    //     },
                    //     dateFormat: 'yy-mm-dd',
                    //     onSelect: function (dateText) {
                    //         $("#selectedDate").text("選擇的日期：" + dateText);
                    //         var timePicker = $('#timePicker');
                    //         timePicker.empty();

                    //         data.filter(e => e.date == dateText)[0].outpatients.forEach(function (slot) {
                    //             var timeSlot = $('<div class="time-slot" data-time="' + slot.beginTime + '">' + slot.beginTime + '</div>');
                    //             if (slot.enabled == "N") {
                    //                 timeSlot.addClass('disabled');
                    //             }
                    //             timePicker.append(timeSlot);

                    //             $('.time-slot').on('click', function () {
                    //                 if (!$(this).hasClass('disabled')) {
                    //                     $('.time-slot').removeClass('selected');
                    //                     $(this).addClass('selected');
                    //                 }
                    //             });

                    //             console.log(slot);
                    //         });


                    //     }
                    // });
                }
            });

        } else {
            alert("請先選擇療程及醫師!!");
        }

    }

    function generateCalendar(year, month) {
        const monthYear = $('#monthYear');
        const calendar = $('#calendar');
        const dateDisplay = $('#dateDisplay');

        calendar.empty();

        let firstDay = new Date(year, month).getDay();
        let daysInMonth = 32 - new Date(year, month, 32).getDate();

        monthYear.text(`${monthNames[month]} ${year}`);

        for (let day of daysOfWeek) {
            let dayElement = $('<div>').text(day).addClass('header');
            calendar.append(dayElement);
        }

        for (let i = 0; i < firstDay; i++) {
            let emptyCell = $('<div>');
            calendar.append(emptyCell);
        }

        for (let date = 1; date <= daysInMonth; date++) {
            let dateElement = $('<div>').text(date);

            let dateToCheck = new Date(year, month, date);
            let dateString = `${year}-${String(month + 1).padStart(2, '0')}-${String(date).padStart(2, '0')}`;

            dateElement.data('date', dateString);

            if (availabelDates.includes(dateString)) {
                dateElement.addClass('availabel').on('click', function () {
                    if (selectedDate) {
                        selectedDate.removeClass('selected');
                    }
                    dateElement.addClass('selected');
                    selectedDate = dateElement;
                    dateDisplay.text("預約日期：" + selectedDate.data('date'));
                    $("#timeDisplay").text("預約時間：無");

                    let timePicker = $('#timePicker');
                    timePicker.empty();

                    outpatientDateTimes.filter(e => e.date == selectedDate.data('date'))[0].outpatients.forEach(function (slot) {
                        let timeSlot = $('<div class="time-slot" data-time="' + slot.beginTime + '">' + slot.beginTime + '</div>');
                        if (slot.enabled == "N") {
                            timeSlot.addClass('disabled');
                        }
                        timePicker.append(timeSlot);

                        $('.time-slot').on('click', function () {
                            if (!$(this).hasClass('disabled')) {
                                $('.time-slot').removeClass('selected');
                                $(this).addClass('selected');
                            }

                            let selectedSlot = $('.time-slot.selected');
                            if (selectedSlot.length > 0) {
                                let selectedTime = selectedSlot.data('time');
                                $('#timeDisplay').text("預約時間：" + selectedTime);
                            } else {
                                $('#timeDisplay').text("預約時間：無");
                            }
                        });

                    });
                });

                if (selectedDate != null && selectedDate == selectedDate.data('date')) {
                    dateElement.addClass('selected');
                }
            } else {
                dateElement.addClass('disabled');
            }

            calendar.append(dateElement);
        }
    }

    function backToSelectDoctor() {
        const calendar = $('#calendar');

        $('#selectDateTimebtn').show();
        $('#backToSelectDoctorbtn').hide();
        $('#fillinBaseInformationbtn').hide();
        $('#fillinCompletebtn').hide();

        $("#datepicker").datepicker("destroy");
        $("#timePicker").empty();
        $("#dateDisplay").text("預約日期：無");
        $("#timeDisplay").text("預約時間：無");
        $('#selectedDateDisplay').text("預約時間：無");
        $('#selectedTimeDisplay').text("預約時間：無");

        $('.treatment-section').show();
        $('.doctor-section').show();
        $('.dateTime-section').hide();
        $('.treatment-selected').hide();
        $('.doctor-selected').hide();
        $('.dateTime-selected').hide();

        selectedDate = null;
        calendar.empty();
        availabelDates = [];
        outpatientDateTimes = null;
        $('#selectedTreatment').html("");
        $('#selectedDoctor').html("");
    }

    function backToSelectDataTime() {
        $('.dateTime-selected').hide();
        $('.baseInfomation-section').hide();
        $('#backToSelectDataTimebtn').hide();
        $('#fillinCompletebtn').hide();
        $('#fillinBaseInformation').hide();

        $('.dateTime-section').show();
        $('#backToSelectDoctorbtn').show();

        if (@ViewBag.AppointmentCount> 0)
            $('#fillinCompletebtn').show();
        else
            $('#fillinBaseInformationbtn').show();
    }

    function showSelectedTreatmentAndDoctor() {
        let selectedDoctor = $("input[name='doctor']:checked").val();
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        //設定已選擇的療程
        let inner = "";

        selectedTreatments.forEach(function (x) {
            let item = treatmentList.filter(e => e.treatmentId == x)[0];

            inner += `<div class="selectable " data-title="` + item.treatmentName + `" data-image="` + item.image + `" data-description="` + item.introduction + `" data-type="selectedTreatment">`;
            inner += `<img src="` + item.image + `"style="border-radius: 15px; padding:3px;" class="img-fluid" data-toggle="modal" data-target="#treatmentModal">`;
            inner += `<div style="line-height: 2;display: flex; align-items: center; justify-content: center; cursor:pointer;" data-toggle="modal" data-target="#treatmentModal" ><span style="font-size:14px;">` + item.treatmentName + `</span></div>`;
            inner += `</div>`;
        });
        $('#selectedTreatment').html(inner);

        //設定已選擇的醫師
        inner = "";

        let item = doctorList.filter(e => e.doctorId == selectedDoctor)[0];

        inner += `<div class="selectable "" data-title="` + item.doctorName + `" data-image="` + item.image + `" data-department="` + item.departmentTitle + `" data-description="` + item.introduction + `" data-type="selectedDoctor" >`;
        inner += `<img src="` + item.image + `"style="border-radius: 15px; padding:3px;" class="img-fluid" data-toggle="modal" data-target="#doctorModal" >`;
        inner += `<div style="line-height: 2;display: flex; align-items: center; justify-content: center; cursor:pointer;" data-toggle="modal" data-target="#doctorModal" ><span style="font-size:14px;">` + item.doctorName + `</span></div>`;
        inner += `</div>`;

        $('#selectedDoctor').html(inner);

        $('.treatment-selected').show();
        $('.doctor-selected').show();
    }

    function fillinComplete() {
        let selectedTime = null;
        let selectedDoctor = $("input[name='doctor']:checked").val();
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        let selectedSlot = $('.time-slot.selected');
        if (selectedSlot.length > 0) {
            selectedTime = selectedSlot.data('time');
        } else {
            return false;
        }

        if (selectedDate == null || selectedTime == null) {
            alert("請先選擇日期及時間!")
            return false;
        } else {
            if (@ViewBag.AppointmentCount> 0) {
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/CreateAppointment',
                    datatype: "json",
                    data: { treatments: selectedTreatments, "doctor": selectedDoctor, "date": selectedDate.data('date'), "beginTime": selectedTime },
                    success: function (data) {
                        console.log("Create appointment success.")

                        window.location.href = "@Url.Action("NoticeVerification", "Appointment")";
                    }
                });
            }
            else {
                let customerName = $('#name').val();
                let nationalIdNumber = $('#NationalIdNumber').val();
                let cellphone = $('#cellphone').val();
                let gender = $('input[name="gender"]:checked').val();
                let birthday = $('#birthday').val();
                let email = $('#email').val();
                let alertMsg = "";

                if (!customerName)
                    alertMsg = "請輸入姓名!";
                else if (!nationalIdNumber)
                    alertMsg = "請輸入身分證!";
                else if (!cellphone)
                    alertMsg = "請輸入手機號碼!";
                else if (!gender)
                    alertMsg = "請輸入性別!";
                else if (!birthday)
                    alertMsg = "請輸入生日!";
                else if (!email)
                    alertMsg = "請輸入E-mail!";

                if (alertMsg != "") {
                    alert(alertMsg);
                    return false;
                }

                if ($('#alert').html() != "") {
                    alert($('#alert').html());
                    return false;
                }

                $.ajax({
                    type: 'POST',
                    url: '/Appointment/UpdateCustomerInfomation',
                    datatype: "json",
                    data: { "customerName": customerName, "nationalIdNumber": nationalIdNumber, "cellphone": cellphone, "gender": gender, "birthday": birthday, "email": email },
                    success: function (data) {
                        console.log("Update customer infomation success.")
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: '/Appointment/CreateAppointment',
                    datatype: "json",
                    data: { treatments: selectedTreatments, "doctor": selectedDoctor, "date": selectedDate.data('date'), "beginTime": selectedTime },
                    success: function (data) {
                        console.log("Create appointment success.")

                        window.location.href = "@Url.Action("NoticeVerification", "Appointment")";
                    }
                });

                // console.log("選擇的療程:" + selectedTreatments);
                // console.log("選擇的醫師:" + selectedDoctor);
                // console.log("選擇的日期:" + selectedDate.data('date'));
                // console.log("選擇的療程:" + selectedTime);
            }

        }
    }

    function fillinBaseInformation() {
        let selectedTime = null;
        let selectedDoctor = $("input[name='doctor']:checked").val();
        let selectedTreatments = [];

        document.querySelectorAll('input[name="treatments"]:checked').forEach(function (checkbox) {
            selectedTreatments.push(checkbox.value);
        });

        let selectedSlot = $('.time-slot.selected');
        if (selectedSlot.length > 0) {
            selectedTime = selectedSlot.data('time');
        }

        if (selectedDate == null || selectedTime == null) {
            alert("請先選擇日期及時間!");
            return false;
        } else {
            showSelectedTreatmentAndDoctor();

            $('.dateTime-section').hide();
            $('#backToSelectDoctorbtn').hide();
            $('#fillinBaseInformationbtn').hide();
            $('.dateTime-selected').show();
            $('.baseInfomation-section').show();
            $('#backToSelectDataTimebtn').show();
            $('#fillinCompletebtn').show();


            $('#selectedDateDisplay').text("預約日期：" + selectedDate.data('date'));
            $('#selectedTimeDisplay').text("預約時間：" + selectedTime);



            // console.log("選擇的療程:" + selectedTreatments);
            // console.log("選擇的醫師:" + selectedDoctor);
            // console.log("選擇的日期:" + selectedDate.data('date'));
            // console.log("選擇的療程:" + selectedTime);
        }
    }

    function backToIndex() {
        window.location.href = "@Url.Action("Index", "Appointment")";
    }

    function checkCellphoneAndNationalIdNumber() {
        let nationalIdNumber = $('#NationalIdNumber').val();
        let cellphone = $('#cellphone').val();

        //先確認身分證有無重複，再確認手機
        if (nationalIdNumber != "") {
            $.ajax({
                type: 'POST',
                url: '/Appointment/checkNationalIdNumber',
                datatype: "json",
                data: { "nationalIdNumber": nationalIdNumber },
                async: false,
                success: function (data) {
                    if (data != "")
                        $('#alert').html(data);
                    else
                        $('#alert').html("");
                }
            });
        } else {
            $('#alert').html("");
        }

        if ($('#alert').html() == "") {
            if (cellphone != "") {
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/checkCellphone',
                    datatype: "json",
                    data: { "cellphone": cellphone },
                    async: false,
                    success: function (data) {
                        if (data != "")
                            $('#alert').html(data);
                        else {
                            $('#alert').html("");

                        }
                    }
                });
            } else {
                $('#alert').html("");
            }
        }



    }

</script>