@model AppointmentSystem.Models.ViewModels.AppointmentModels.SuccessPageVM

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    .treatment-selected, .doctor-selected, .dateTime-selected {
        text-align: left;
        margin: auto;
        width: 98%;
        background: linear-gradient(to top,#ffffff, #ffffff);
        padding: 20px;
        border-radius: 13px;
        border: 0px solid #5F5F5F;
    }

    .selectable {
        position: relative;
        display: inline-block;
        margin-top: 5px;
        background: #0E4F43;
        color: #D7F4EE;
        border-radius: 15px;
        overflow: hidden;
        margin: 10px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    }

        .selectable img {
            width: 100px; /* 設置圖片寬度 */
            height: 100px; /* 設置圖片高度 */
            cursor: pointer;
        }

    #treatmentImage img {
        width: 50%;
        height: 50%;
        border-radius: 20px;
        margin: 5%
    }

    .appointment-wrapper {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 20%;
        left: 0;
        height: auto;
    }

    .appointment-table {
        width: 100%;
        margin: 0px !important;
        padding: 20px 5px;
        border-radius: 40px;
        z-index: 2;
        background: white;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .treatmentTittle, .doctorTittle, .dateTittle {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #0E4F43;
        font-weight: 800;
        margin-top: 15px;
        margin-left: 30px;
    }

    .Home-btn {
        background: #0E4F43;
        color: #D7F4EE;
        margin: auto;
        border-radius: 13px;
        font-size: 14px;
        padding: 8px;
        border: none;
    }
</style>
<div class="overlay-container" style=" position: relative;">
    @*     <img id="desktopImage" src="~/images/CustomerIndexImage1.jpg" alt="Desktop Image" class="appointment-image desktop-image">
    <img id="mobileImage" src="~/images/CustomerIndexImage2.jpg" alt="Mobile Image" class="appointment-image mobile-image" style="height:25rem; width:auto; object-fit: cover;"> *@
    <img id="desktopImage" src="~/images/banner (2).png" alt="Desktop Image" class="appointment-image desktop-image" style="width: 100%;  height: auto;  max-height: 18rem;object-fit: cover;">
    <img id="mobileImage" src="~/images/banner (2).png" alt="Mobile Image" class="appointment-image mobile-image" style=" width:auto; object-fit: cover;">



</div>
<div class="appointment-wrapper">
    <div class="appointment-table">
        <div class="treatmentTittle">
            <span>療程項目</span>
        </div>
        <div class="treatment-selected" style="">

            <div id="selectedTreatment" class="row" style="display: flex; justify-content: left;">
                @foreach (var treatment in Model.SelectedTreatment)
                {
                    <div class="selectable" data-title="@treatment.TreatmentName" data-description="@treatment.Introduction" data-image="@treatment.Image" data-type="selectedTreatment">
                        <img src="@treatment.Image" style="border-radius: 15px; padding:3px;" class="img-fluid" data-toggle="modal" data-target="#treatmentModal">
                        <div style="line-height: 2;display: flex; align-items: center; justify-content: center; cursor:pointer;" data-toggle="modal" data-target="#treatmentModal"><span style="font-size:14px;">@treatment.TreatmentName</span></div>
                    </div>
                }
            </div>
        </div>
        <div class="doctorTittle">
            <span>醫師</span>
        </div>
        <div class="doctor-selected">

            <div id="selectedDoctor" class="row" style="display: flex; justify-content: left;">
                <div class="selectable" data-title="@Model.SelectedDoctor.DoctorName" data-department="@Model.SelectedDoctor.DepartmentTitle" data-image="@Model.SelectedDoctor.Image" data-description="@Model.SelectedDoctor.Introduction" data-type="selectedDoctor">
                    <img src="@Model.SelectedDoctor.Image" style="border-radius: 15px; padding:3px;" class="img-fluid" data-toggle="modal" data-target="#doctorModal">
                    <div style="line-height: 2;display: flex; align-items: center; justify-content: center; cursor:pointer;" data-toggle="modal" data-target="#doctorModal"><span style="font-size:14px;">@Model.SelectedDoctor.DoctorName</span></div>
                </div>
            </div>
        </div>
        <div class="dateTittle">
            <span>時間及日期</span>
        </div>
        <div class="dateTime-selected">
            <p id="selectedDateDisplay" class="selected-date">選擇的日期：@Model.Date</p>
            <p id="selectedTimeDisplay" class="selected-time">選擇的時間：@Model.BookingBeginTime</p>
        </div>

        <div class="dateTime-selected">
            <p id="notifyMessage" class="selected-date">@Model.NotifyMessage</p>
        </div>

        <div style="display:flex;justify-content:center; margin:auto;">
            <button class="Home-btn " id="bindLineAccount" onclick="bindLineAccount();" style="display:none;">
                綁定Line帳號
            </button>
            <button class="Home-btn " id="backToIndex" onclick="backToIndex();">
                回首頁
            </button>
        </div>
    </div>
</div>

<!-- 療程項目簡介模態框 -->
<div class="modal fade " id="treatmentModal" tabindex="-1" aria-labelledby="treatmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="treatmentModalLabel">治療項目簡介</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="treatmentImage"></div>
                <p id="treatmentModalDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- 醫師簡介模態框 -->
<div class="modal fade" id="doctorModal" tabindex="-1" aria-labelledby="doctorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="doctorModalLabel">醫師簡介</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="doctorImage"></div>
                <p id="doctorModalDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="customerId" value="@Model.CustomerId" />
<input type="hidden" id="showBindBtn" value="@ViewBag.showBindBtn" />

<script>
    $(document).ready(function () {
        if ($('#showBindBtn').val() == "true")
            $('#bindLineAccount').show();

        // 顯示模態框內容
        $('#treatmentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.closest('.selectable').data('title');
            var description = button.closest('.selectable').data('description');
            var image = button.closest('.selectable').data('image');
            var modal = $(this);

            modal.find('.modal-title').text(title);
            // modal.find('.modal-body #treatmentModalTitle').text(title);
            modal.find('.modal-body #treatmentModalDescription').text(description);
            modal.find('.modal-body #treatmentImage').html("<img src='" + image + "' alt='treatment' class='img-fluid'>");
        });

        $('#doctorModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.closest('.selectable').data('title');
            var department = button.closest('.selectable').data('department');
            var description = button.closest('.selectable').data('description');
            var image = button.closest('.selectable').data('image');
            var modal = $(this);

            modal.find('.modal-title').text(title + '  ' + department);
            // modal.find('.modal-body #doctorModalTitle').text(title);
            modal.find('.modal-body #doctorModalDepartment').text(description);
            modal.find('.modal-body #doctorModalDescription').text(description);
            modal.find('.modal-body #doctorImage').html("<img src='" + image + "' alt='doctor' class='img-fluid'>");
        });
    });

    function bindLineAccount() {
        var client_id = '2005627882';
        var base_redirect_uri = 'https://localhost:7146/Appointment/BindLineAccount';
        var state = 'abcd'; // 用於防止 CSRF 攻擊
        var scope = 'profile openid';
        var customerId = $('#customerId').val();

        var redirect_uri = encodeURIComponent(`${base_redirect_uri}?customerId=${customerId}`);
        var loginUrl = `https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=${client_id}&redirect_uri=${redirect_uri}&state=${state}&scope=${scope}`;

        // console.log(loginUrl);
        window.location.href = loginUrl;
    }

    function backToIndex() {
        window.location.href = "@Url.Action("Index", "Appointment")";
    }
</script>