@model AppointmentSystem.Models.ViewModels.SystemModels.UserEditVM
@{
    ViewData["Title"] = "用戶修改";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        /* 隱藏 checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* 滑動器的樣式 */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

        /* 滑動器在 input 被檢查時的樣式 */
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

        input:checked + .slider:before {
            transform: translateX(26px);
        }
</style>

<div class="card whiteBG mb-4 pattern-F colorset_B">
    <div class="card-header">
        <h3 class="card-title font-weight-bold">@ViewData["Title"]</h3>
    </div>

    <div class="card whiteBG pattern-F colorset_3">
        <div class="card-body">
            <div class="table-responsive" style="overflow-x: unset;">
                <table class="table table-responsive-md table-hover table2 VA-middle">
                    <div class="container">
                        <div class="row justify-content-left">
                            <div class="col-2">
                                <button role="button" class="btn btn-shadow btn-block btn-color11-o" style="background-color:#97dded" onclick="location.href='@Url.Action("UserIndex", "System")'">回上頁</button>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>

    <form method="post" asp-action="UserEdit">
        <div class="card whiteBG mb-4 pattern-F colorset_3">
            <div class="card-body">
                <div class="table-responsive" style="overflow-x: unset;">
                    <table class="table table-responsive-md table-hover table2 VA-middle">
                        <div class="table-responsive">
                            <table class="table table-hover" id="addnew" table-layout: fixed;>
                                <colgroup>
                                    <col width="30%">
                                    <col width="10%">
                                    <col width="30%">
                                    <col width="30%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>姓名</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="UserName" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>英文姓名</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="UserNameEnglish" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>性別</td>
                                        <td>
                                            @Html.DropDownListFor(m=>m.Gender, Model.GenderList , new { @class = "form-control", @required=""})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>生日</td>
                                        <td>
                                            <input type="date" style="width:100%;" id="Birthday" asp-for="Birthday" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>住址</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="Address" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Email</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="UserEmail" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>連絡電話</td>
                                        <td>
                                            <input type="text" style="width:100%;" asp-for="Telphone" required="">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>角色</td>
                                        <td>
                                            @Html.DropDownListFor(m=>m.RoleId, Model.RoleList , new { @class = "form-control", @required=""})
                                        </td>
                                        <td></td>
                                    </tr>
                                    @* <tr>
                                        <td></td>
                                        <td>是否啟用</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" asp-for="Status" checked='@(Model.Status == "Y" ? "checked" : "")'>
                                                <span class="slider"></span>
                                            </label>
                                        </td>
                                        <td></td>
                                    </tr> *@
                                    
                                    <tr>
                                        <td></td>
                                        <td>是否啟用</td>
                                        <td>
                                            @Html.DropDownListFor(m=>m.Status, Model.StatusList , new { @class = "form-control"})
                                        </td>
                                        <td></td>
                                    </tr>
                                    <!--
                                    <tr>
                                        <td></td>
                                        <td>排序</td>
                                        <td><input type="number" style="width:100%;" asp-for="Sort" required=""></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>備註</td>
                                        <td><input type="text" style="width:100%;" asp-for="Memo"></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td></td>
                                        <td>是否啟用</td>
                                        <td>
                                            <select class="form-control">
                                                <option>是</option>
                                                <option>否</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                        <input type="submit" class="btn btn-shadow btn-color11-3 btn-block" value="儲存">
                                    </div>
                                    <div class="col">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </table>
                </div>
            </div>
        </div>
    </form>

</div>

<script>
    $(document).ready(function () {
        $('input[asp-for="Status"]').change(function () {
            if (this.checked) {
                $(this).val('Y');
            } else {
                $(this).val('N');
            }
        }).trigger('change'); // 確保加載時同步狀態
    });
</script>

@section scripts {
    <script src="~/assets/js/date.format.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        // document.getElementById('Birthday').value = new Date().toISOString().substring(0, 10);
    </script>
}